/SwingApplications/DVDStoreApp/dist/
/SwingApplications/Client/nbproject/private/
/SwingApplications/Server/nbproject/private/
/SwingApplications/ChatApp/nbproject/private/
/SwingApplications/Chat/nbproject/private/
/SwingApplications/Chat/build/
/SwingApplications/Chat/dist/
/SwingApplications/SayiTahminApp/nbproject/private/
/SwingApplications/SayiTahminApp/build/
/SwingApplications/FTPApp/nbproject/private/
/SwingApplications/ExelIslemleri/nbproject/private/
/SwingApplications/JxltoSqlite/nbproject/private/
/SwingApplications/JxltoSqlite/build/
/SwingApplications/PdfOrnekler/nbproject/private/
/SwingApplications/PdfOrnekler/build/
/SwingApplications/XlsToDB/nbproject/private/
/SwingApplications/UserinfoToPdf/nbproject/private/
/SwingApplications/FxWebBrowser/nbproject/private/
/SwingApplications/FxWebBrowser/build/
/SwingApplications/FxWebBrowser/dist/
/SwingApplications/HelloFx/nbproject/private/
/SwingApplications/FXML-LoginDemo/nbproject/private/
/SwingApplications/Sudokutest/nbproject/private/
/SwingApplications/Sudokutest/build/
/SwingApplications/SudokuSolving/nbproject/private/
/SwingApplications/JavaScriptOrnekleri/nbproject/private/
/SwingApplications/SudokuTest3/nbproject/private/
/SwingApplications/SudokuTest3/build/
/SwingApplications/SudokuTest3/dist/
/SwingApplications/Sudokutest/dist/
/SwingApplications/EsBulmaOyunu/nbproject/private/
/SwingApplications/EsBulmaOyunu/build/
/SwingApplications/HelloWeb/nbproject/private/
/SwingApplications/HelloWeb/build/
/SwingApplications/ZiyaretciDefteri/nbproject/private/
/SwingApplications/ZiyaretciDefteri/build/
/SwingApplications/HelloWS/nbproject/private/
/SwingApplications/HelloWS/dist/
/SwingApplications/HelloWS/build/
/SwingApplications/ServiceTest/nbproject/private/
/SwingApplications/ServiceTest/dist/
/SwingApplications/ServiceTest/build/
/SwingApplications/WebServiceOrnekleri/nbproject/private/
/SwingApplications/WebServiceOrnekleri/build/
/SwingApplications/WebServiceOrnekleri/dist/
/SwingApplications/MyBlog/nbproject/private/
/SwingApplications/MyBlog/build/
/SwingApplications/MyBlog/dist/
/Web Applications/HelloWS/build/
/Web Applications/HelloWS/dist/
/Web Applications/HelloWS/nbproject/private/
/Web Applications/HelloWeb/build/
/Web Applications/HelloWeb/nbproject/private/
/Web Applications/JavaScriptOrnekleri/nbproject/private/
/Web Applications/ServiceTest/build/
/Web Applications/ServiceTest/dist/
/Web Applications/ServiceTest/nbproject/private/
/Web Applications/WebServiceOrnekleri/build/
/Web Applications/WebServiceOrnekleri/dist/
/Web Applications/WebServiceOrnekleri/nbproject/private/
/Web Applications/ZiyaretciDefteri/build/
/Web Applications/ZiyaretciDefteri/nbproject/private/